.title {
    border: 1px solid darkblue;
    background-color: linen;
    text-align: center;
}
.subtitle {
    background-color: whitesmoke;
    color: darkblue;
}

.para {
    border: 1px solid lightcyan;
    background-color: whitesmoke;
}

.hidden {
     display: none; 
}